In [156]:
# import libraries

import pandas as pd
import numpy as np

In [157]:
# open and observe file

file = pd.read_csv('../georgia_earthquakes.csv')
file.head()

,time(utc),magnitude(ml),depth(km),lat/long(degree),region
0,03/09/2023 16:35,5.2,107,40.3335/48.266,Azerbaijan. From Georgia border - 162km.
1,26/08/2023 12:43,3.7,1,42.816/45.701,Russia. Chechnia. From Georgia border - 31km.
2,24/08/2023 13:15,3.8,2,41.231/44.28,From Tbilisi 54km. City Dmanisi - South-East ...
3,14/08/2023 07:05,3.2,24,42.4708/45.0031,Town Khazbegi - South-East - 33km. Village Ch...
4,28/07/2023 05:55,3.5,8,41.7878/43.1566,City Borjomi - West - 17km. Village Atskuri -...

In [158]:
# clean data by splitting columns and dropping unnececary ones

file[['Date', 'Time']] = file['time(utc)'].str.split(' ',expand = True)
file[['Latitude', 'Longitude']] = file['lat/long(degree)'].str.split('/', 2, expand = True)
file = file.drop(['time(utc)', 'lat/long(degree)'], axis = 1)

C:\TEMP\ipykernel_2064\108792626.py:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  file[['Latitude', 'Longitude']] = file['lat/long(degree)'].str.split('/', 2, expand = True)

In [159]:
# move colmns with Date and Time into the first positions of the DataFrame

first_col = file.pop('Date')
file.insert(0, 'Date', first_col)

second_col = file.pop('Time')
file.insert(1, 'Time', second_col)
file

,Date,Time,magnitude(ml),depth(km),region,Latitude,Longitude
0,03/09/2023,16:35,5.2,107,Azerbaijan. From Georgia border - 162km.,40.3335,48.266
1,26/08/2023,12:43,3.7,1,Russia. Chechnia. From Georgia border - 31km.,42.816,45.701
2,24/08/2023,13:15,3.8,2,From Tbilisi 54km. City Dmanisi - South-East ...,41.231,44.28
3,14/08/2023,07:05,3.2,24,Town Khazbegi - South-East - 33km. Village Ch...,42.4708,45.0031
4,28/07/2023,05:55,3.5,8,City Borjomi - West - 17km. Village Atskuri -...,41.7878,43.1566
...,...,...,...,...,...,...,...
281,25/07/2021,09:02,3.8,12,From Tbilisi 54km. City Tsalka - South-West -...,41.4611,44.0108
282,20/07/2021,22:03,3.0,10,NaN,43.4898,41.177
283,16/07/2021,01:04,2.8,10,,41.1725,43.9338
284,14/07/2021,07:41,3.1,13,City Ninotsminda - East - 25km. Village Sameb...,41.1673,43.8848
285,14/07/2021,07:04,4.0,10,City Ninotsminda - East - 21km. Village Sagha...,41.1793,43.9273

In [160]:
# rename columns for convenience

file.columns = map(str.capitalize,file.columns)

## Duplicates

In [161]:
# search for duplicated rows
with_dups = file
print('Shape of table with duplicates: ', with_dups.shape)

without_dups = with_dups.drop_duplicates()
print('Shape of table without duplicates: ',without_dups.shape)

# we see, that there are no duplicated rows, so we can continue using original DataFrame 'file'

Shape of table with duplicates:  (286, 7)
Shape of table without duplicates:  (286, 7)

In [162]:
# check for data types in the DataFrame

print(file.dtypes, '\n\n')

# change Longitude and Latitude data types from object to float
file['Longitude'] = file['Longitude'].astype(float)
file['Latitude'] = file['Latitude'].astype(float)

print(file.dtypes)

Date              object
Time              object
Magnitude(ml)    float64
Depth(km)          int64
Region            object
Latitude          object
Longitude         object
dtype: object


Date              object
Time              object
Magnitude(ml)    float64
Depth(km)          int64
Region            object
Latitude         float64
Longitude        float64
dtype: object

In [163]:
file['Region'] = file['Region'].astype('string')
file.dtypes

Date              object
Time              object
Magnitude(ml)    float64
Depth(km)          int64
Region            string
Latitude         float64
Longitude        float64
dtype: object

## Missing data

In [164]:
# check for missing data

print('Missing data: \n',file.isna().sum())

Missing data:
 Date              0
Time              0
Magnitude(ml)     0
Depth(km)         0
Region           16
Latitude          0
Longitude         0
dtype: int64

### Missing data in Region column

#### In Region column 16 out of 286 region names are missed. It is less than 6% of all data, which means it would not affect the analysis. Though, some rows might be absolutely empty, and some contain values, like 'NaN' or 'null' in different formats, so it's better to make them look the same.

In [165]:
file['Region'] = file['Region'].str.strip() # remove spaces at the begining and at the end of every cell
file['Region'].fillna('null', inplace = True) # change empty cells with "null" value

In [166]:
# several cells in Region columns still stay empty,
# therefore we change them in a different way

change_rgn = []
for string in file['Region']:
    change_rgn.append(string)
    
for i in range(len(change_rgn)):
    if change_rgn[i] == '':
        change_rgn[i] = 'null'
file['Region'] = change_rgn

### Missing data in coordinates columns

#### Longitude and Latitude null values may not have been detected because of their 0.000 format. There fore we should check min and max values of this columns and look for missing data manually.

In [128]:
# examine min and max values of Longitude and Latitude columns
print('Longitude min: ', min(file['Longitude']), ', max: ', max(file['Longitude']))
print('Latitude min: ', min(file['Latitude']), ', max: ', max(file['Latitude']), '\n\n')

# search for null values
print(file[file['Longitude']<30])
print(file[file['Latitude']<30])

Longitude min:  32.06 , max:  49.748
Latitude min:  37.01 , max:  44.0651


Empty DataFrame
Columns: [Date, Time, Magnitude(ml), Depth(km), Region, Latitude, Longitude]
Index: []
Empty DataFrame
Columns: [Date, Time, Magnitude(ml), Depth(km), Region, Latitude, Longitude]
Index: []

#### No missing values in Longitude and Latitude columns have been detected.

## Changing column configuration

### Region column can be splitted into two. First will contain only the name of the country or city, where erruption occurred, an second - more concrete localization (e.g. direction and distance)

In [167]:
file[['Country/City', 'Localization']] = file['Region'].str.split('.', 1, expand = True)

C:\TEMP\ipykernel_2064\811136624.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  file[['Country/City', 'Localization']] = file['Region'].str.split('.', 1, expand = True)

#### In Country/City column some cell still contain too much unnececarry information, which should be stripped or changed

In [173]:
change_country_city = []
for string in file['Country/City']:
    string = string.split(' ')
    if len(string) > 1:
        string = [' '.join(string[:2])]
    change_country_city.append(string)
    
    
#unlisting nested list

unlisted=[]
for string in change_country_city:
    for i in string:
        unlisted.append(i)
         
            
#changing "From" to "Near" for better readability

for index in range(len(unlisted)):
    if 'From' in unlisted[index]:
        unlisted[index] = unlisted[index].replace('From', 'Near')

file['Country/City'] = unlisted

In [175]:
# changing collumns placement for table to become more structurized

country_col_5 = file.pop('Country/City')
file.insert(5,'Country/City', country_col_5)

loc_col_6 = file.pop('Localization')
file.insert(6,'Localization', loc_col_6)

In [177]:
# Localization column still has some empty cells called differently, changing them to 'null'
file['Localization'].fillna('null', inplace = True)

In [178]:
file

,Date,Time,Magnitude(ml),Depth(km),Region,Country/City,Localization,Latitude,Longitude
0,03/09/2023,16:35,5.2,107,Azerbaijan. From Georgia border - 162km.,Azerbaijan,From Georgia border - 162km.,40.3335,48.2660
1,26/08/2023,12:43,3.7,1,Russia. Chechnia. From Georgia border - 31km.,Russia,Chechnia. From Georgia border - 31km.,42.8160,45.7010
2,24/08/2023,13:15,3.8,2,From Tbilisi 54km. City Dmanisi - South-East ...,Near Tbilisi,City Dmanisi - South-East - 10km. Village Gor...,41.2310,44.2800
3,14/08/2023,07:05,3.2,24,Town Khazbegi - South-East - 33km. Village Cha...,Town Khazbegi,Village Chalisofeli - 2km.,42.4708,45.0031
4,28/07/2023,05:55,3.5,8,City Borjomi - West - 17km. Village Atskuri - ...,City Borjomi,Village Atskuri - 5km.,41.7878,43.1566
...,...,...,...,...,...,...,...,...,...
281,25/07/2021,09:02,3.8,12,From Tbilisi 54km. City Tsalka - South-West -...,Near Tbilisi,City Tsalka - South-West - 13km. Village Sala...,41.4611,44.0108
282,20/07/2021,22:03,3.0,10,null,null,null,43.4898,41.1770
283,16/07/2021,01:04,2.8,10,null,null,null,41.1725,43.9338
284,14/07/2021,07:41,3.1,13,City Ninotsminda - East - 25km. Village Sameba...,City Ninotsminda,Village Sameba - 7km.,41.1673,43.8848
285,14/07/2021,07:04,4.0,10,City Ninotsminda - East - 21km. Village Sagham...,City Ninotsminda,Village Saghamo - 10km.,41.1793,43.9273

In [179]:
# save cleaned file to make visualizations in Tableau

file.to_csv('Earthquakes_cleaned.csv')